@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

:root {
    --body-bg: #f1f1f2;
    --border-main-color: black;
    --article-bg: #fff;
    --border-color-article: #bcbabe;
    --nav-a-color: black;
    --switch-theme-bg-color: rgba(128, 128, 128, 0.493);
    --top-bar: #00b894;
    --bottom-bar: #e17055;
    --body-bg-night: #0f0f0f;
    --border-color-night: white;
    --text-color-night: white;
    --article-bg-night: #272727;
    --nav-a-night: #f7f7f7;
  }

body {
    font-family: 'Patrick Hand SC', cursive;

    box-sizing: content-box;
    background-color: var(--body-bg);
    border: 6px solid var(--border-main-color);
    border-top-left-radius: 255px 15px ;
    border-top-right-radius: 15px 225px;
    border-bottom-left-radius: 225px 15px;
    border-bottom-right-radius: 15px 255px;
}

header {
    display: flex;
    margin-inline: 4rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-image {
     display: none;
}

.menu {
    display: none;
}

header a {
    text-decoration: none;
    color: #0f0f0f;
}

header h1 {
    font-size: 4rem;
    cursor: pointer;
    letter-spacing: .1rem;
    margin: 0;
}

header nav {
    font-size: 2rem;
}

header nav ul {
    display: flex;
    gap: 4rem;
    align-items: center;
}

header nav ul li {
    list-style-type: none;
    cursor: pointer;
    padding: .5rem;
    transition: box-shadow .5s ease;
    box-shadow: 0 0 0 0 var(--border-color);
    border-top-left-radius: 255px 15px ;
    border-top-right-radius: 15px 225px;
    border-bottom-left-radius: 225px 15px;
    border-bottom-right-radius: 15px 255px;
    outline-offset: -4px;
  }

.dayNight {
    display: none;
}

.input:hover {
    box-shadow: 0 0 0 0 transparent;
}
  
header nav ul li:hover:not(:last-child) {
    font-weight: bolder;
    box-shadow: 0 0 0 4px rgb(0, 0, 0);
    outline-offset: -2px;
}

header nav a {
    color: var(--nav-a-color);
}

/* CHECK NIGHT OR DAY */

.dayNight[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    width: 70px;
    height: 40px;
    background: var(--switch-theme-bg-color);
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '\002600';
    position: absolute;
    top: -3px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 90px;
    transition: 0.3s;
}


.dayNight:checked + label:after {
    content: '\1F319';
    filter: grayscale(1);
    left: calc(100% - 5px);
    transform: translateX(-120%);
}

/* POLL'S DESIGN */

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.category-title {
    margin: 0;
    font-size: 4rem;
    margin-left: 5rem;
}

.poll-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poll-header-author {
    font-size: 1.5rem;
}

.poll-question {
    font-size: 3rem;
    margin: 0;
    margin-right: 1rem;
}

.poll-container {
    padding: 1rem 1.5rem;
    margin: 1rem;
    min-width: 40%;
    max-width: fit-content;
    flex: 1;
    background-color: var(--article-bg);
    border: 6px solid var(--border-color-article);
}

.poll-header-title {
    font-size: 2rem;
    margin: 0;
}

.poll-wrapper {
    display: flex;
    align-items: center;
}

.poll-progressbar-wrapper {
    display: flex;
    flex: 1;
    background-color: #dfe6e9;
    color: white;
    border-radius: 15px;
    max-width: 90%;
    border: 2px solid rgba(0, 0, 0, 0.349);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 40px;
    margin: 1rem;
    margin: .5rem .5rem;
}

.poll-wrapper-checkbox[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 15px;
    border: 1px solid #111010;
    background-color: #fff;
    cursor: pointer;
}

.poll-wrapper-checkbox[type="checkbox"]:checked::before {
    content: "\2713";
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 2rem;
    font-weight: bold;
}



.poll-progressbar {
    background-color: #D3E9E3;
    color: white;
    padding-left: 1rem;
    text-align: right;
    font-size: 20px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    position: relative;
}

.poll-progressbar[title="first_choice"] {
    background-color: #D3E9E3;
    border: 3px solid #00b894;
}

.poll-progressbar[title="second_choice"] {
    background-color: #F4DADB;
    border: 3px solid #e17055;
}

.poll-progressbar-pourcent {
    font-size: 2rem;
    min-width: 60px;
}
.poll-progressbar p {
    font-size: 1.5rem;
    color: black;
    padding: 0;
    margin: 0;
    width: max-content;
}

.poll-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-family: 'Patrick Hand SC', cursive;
}

.poll-footer-vote {
    margin: 0;
}
/* SHARED BUTTON  */

.poll-footer-share {
    display: flex;
    align-items: center;
}

.poll-footer-share:hover::after {
    content: 'Coming soon';
}

.poll-footer img {
    width: 2rem;
    cursor: pointer;
}

.poll-footer button {
    border: none;
    cursor: pointer;
    background: none;
    transition: box-shadow .5s ease;

    border-top-left-radius: 255px 15px ;
    border-top-right-radius: 15px 225px;
    border-bottom-left-radius: 225px 15px;
    border-bottom-right-radius: 15px 255px;
    outline-offset: -4px;

    font-size: 2rem;
    font-family: 'Patrick Hand SC', cursive;
}
  
.poll-footer button:hover {
    box-shadow: 0 0 0 4px var(--border-color-article);
    outline-offset: -2px;
}

/* FOOTER MAIN */

footer div {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.footer-article p {
    font-size: 1.8rem;
}

footer div button {
    font-size: 2rem;
    border: 2px solid black;
    border-top-left-radius: 255px 15px ;
    border-top-right-radius: 15px 225px;
    border-bottom-left-radius: 225px 15px;
    border-bottom-right-radius: 15px;
    padding: 1rem;
    margin: .5rem;
    cursor: pointer;
    font-family: 'Patrick Hand SC', cursive;
    transition: all .5s;
}

footer div button:hover {
    border: 2px solid black;
    border-top-left-radius: 15px 255px ;
    border-top-right-radius: 240px 25px;
    border-bottom-left-radius: 22px 215px;
    border-bottom-right-radius: 15px;
    font-weight: bolder;
}

/* SIGN UP SECTION */

.form{
    visibility: hidden;
    position: absolute;
    background-color: #e9e9e9;
    width: fit-content;
    height: fit-content;
    top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    border: 4px solid black;
    border-top-left-radius: 15px 255px ;
    border-top-right-radius: 240px 25px;
    border-bottom-left-radius: 22px 215px;
    border-bottom-right-radius: 15px;
    transition: all .4s ease-in ;
}

.form__pop-up {
    padding: 3rem;
    visibility: visible;
    width: fit-content;
    height: fit-content;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 25px 240px;
    border-bottom-left-radius: 215px 22px;
    border-bottom-right-radius: 15px 190px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form span {
    font-size: 4rem;
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.form h1 {
    font-size: 4rem;
}

.form input {
    width: 300px;
    height: 50px;
    margin: .5rem;
    border: 2px solid black;
    border-top-left-radius: 10px 222px ;
    border-top-right-radius: 200px 15px;
    border-bottom-left-radius: 25px 245px;
    border-bottom-right-radius: 15px;
}

.conditions {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: start;
}

.conditions li {
    display: flex;
    align-items: center;
}

.private[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 2rem;
    padding: 0;
    height: 2rem;
    border-radius: 15px;
    border: 1px solid #111010;
    background-color: #fff;
    cursor: pointer;
    margin: 0 1rem;
  }

.private[type="checkbox"]:checked::before {
    content: "\2713";
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.form li {
    list-style: none;
    font-size: 2rem;
}

.form button {
    font-size: 2rem;
    border: 2px solid black;
    border-top-left-radius: 255px 15px ;
    border-top-right-radius: 15px 225px;
    border-bottom-left-radius: 240px 25px;
    border-bottom-right-radius: 15px;
    padding: 1rem;
    margin: .5rem;
    cursor: pointer;
    font-family: 'Patrick Hand SC', cursive;
    
}

.form button:hover {
    border: 2px solid black;
    border-top-left-radius: 15px 255px ;
    border-top-right-radius: 240px 25px;
    border-bottom-left-radius: 22px 215px;
    border-bottom-right-radius: 255px 15px;
    font-weight: bolder;
}

 @media screen and (max-width: 1085px) {
    header  {
        justify-content: center;
    }
}

@media screen and (max-width: 915px) {
   
    .category-title {
        margin: 1rem;
    }
    
    main article {
        max-width: 100%;
    }

    nav {
        display: none;
    }
    
    .menu-image,
    .menu {
        display: block;
    }

    .menu {
        display: block;
        position: absolute;
        right: 2.5rem;
    }

    .small-screen {
        display: none;
        position: absolute;
        top: -1rem;
        right: 0;
        padding: .5rem 1rem;
        list-style: none;
        border: 2px solid black;
        border-top-left-radius: 15px 255px ;
        border-top-right-radius: 240px 25px;
        border-bottom-left-radius: 22px 215px;
        border-bottom-right-radius: 255px 15px;
        background-color: var(--article-bg)
    }

    .small-screen span {
        float: right;
    }

    .small-screen ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .media-dayNight[type=checkbox]{
        height: 0;
        width: 0;
        display: none;
    }
    
    .small-screen label {
        cursor: pointer;
        width: 23px;
        height: 17px;
        background: var(--switch-theme-bg-color);
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
    article p {
        font-size: 2rem;
        margin: .5rem 0;
    }
    
    .footer-article p,
    .footer-article button {
        font-size: 1.5rem;
        font-family: 'Patrick Hand SC', cursive;
    }
}