            <footer>
                <div>
                    <button>Create a poll</button>
                </div>
            </footer>
            <script src="/js/scriptFrontPage.js"></script>
    </body>
</html>