            <footer>
                <div>
                    <p>Create a polls</p>
                    <button>+</button>
                </div>
            </footer>
            <script src="/js/scriptFrontPage.js"></script>
    </body>
</html>