<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Poll's</title>
</head>
<body>

    <header>
        <h1><a href="/">Poll's</a></h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/polls.html">Polls</a></li>
                <li><a class="sign">Sign up</a></li>
                <li><a class="connect-button">Connect</a></li>
                <li class="input"><input class="dayNight" type="checkbox" id="switch" /><label for="switch"></label></li>
            </ul>
            
        </nav>
    </header>