<%- include('./partials/header') %>
<h2 class="category-title">Most Popular</h2>
<main>
    <p></p>
    <h1>Bienvenue sur le Tableau de controle de Poll</h1>
    <form action='' method='post'>    
            
        <form action='' method='post'>
            <label style="padding: 10px 60px;" for="selectUser">Choice User :</label>
            <select style="width: 150px; height: 50px;" name="selectUser" id="selectUser">
                <option value="">Select User</option>
                <% for(user of users) {%>
                  <option value="<%= user.id %>"><%= user.pseudo %></option>
               <% } %>
            </select>
            <br><br>
            <label style="padding: 10px 60px;" for="selectRole">Choice Role :</label>
            <select style="width: 150px; height: 50px;" name="selectRole" id="selectRole">
               <option value="">Select Role</option>
               <option value="admin">Admin</option>              
               <option value="member">User</option>
            </select>
            <br><br>
            <input type='submit' value='Valider'/>            

            <h2><%= Message %></h2>
         
         




    </form> 
   
</main>


