<section class="connect form">
    <span class="to-close-connect">x</span>
    <h1>Connect Form</h1>
    <form class="popup" action="/login" method="POST">
        <ul>
            <li><input type="pseudo" id="pseudo" name="pseudo" placeholder="Username"></li>
            <li><input type="password" id="password" name="password" placeholder="Password"></li>
        </ul>
        <button type="submit">Connect</button>
    </form>
</section>
