            <footer>
                <div>
                    <% if(!guest) { %>
                    <button class="create-button">Create a poll</button>
                    <% } %>
                </div>
            </footer>
            <script src="/js/scriptFrontPage.js"></script>
    </body>
</html>