            <footer>
                <div class="footer-button-container">
                    <button class="footer-create-button">Create a poll</button>
                </div>
            </footer>
            <div class="created-by">
                <p>Created by</p>
                <div class="author-poll">
                    <p>Hugo Laurent</p><a href="https://github.com/HugoLaurent"><img src="/images/github.png" alt=""></a>
                </div>
                <div class="author-poll">
                    <p>Devconte</p><a href="https://github.com/Devconte"><img src="/images/github.png" alt=""></a>
                </div>
                <div class="author-poll">
                    <p>Mike</p><a href="https://github.com/Michaeldutheil"><img src="/images/github.png" alt=""></a>
                </div>
            </div>
            <% if (locals.user) { %>
                <script src="/js/whenConnected.js"></script>
            <% } else { %>
                <script src="/js/whenNotConnected.js"></script>
            <% } %>
            <script src="/js/index.js"></script>
    </body>
</html>