            <footer>
                <div class="footer-button-container">
                    <button class="footer-create-button">Create a poll</button>
                </div>
            </footer>
            <script src="/js/index.js"></script>
    </body>
</html>