<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/darkStyle.css">
    <title>Poll's</title>
</head>
<body>
    
    <header>
        <!-- <h1 class="header-title"><a href="/">Poll's</a></h1> -->
        
            <img class="header-images-logo" src="/images/logo.png" alt="">
            <!-- <img class="header-images-burger" src="/images/burger.png" alt=""> -->
            <h2 style="color:red;"><% if(locals.errorMessage) { %>
                <p><%= errorMessage %></p>
                <% } %></h2>
            
        <div class="navbar-responsive">
            <ul class="header-navbar">
                <li class="navbar-button home-button"><a href="/">Home</a></li>
                <li class="navbar-button"><a href="/polls">Polls</a></li>

                <% if (locals.user && locals.user.role === "admin") { %>
                    <li class="navbar-button"><a class="navbar-admin" href="/dashboard">Admin</a></li>
                  <% } %>

                <% if (locals.user) { %>
                    <li class="navbar-button"><a class="navbar-logout" href="/logout">Log out</a></li>
                <% } else { %>
                    <li class="navbar-button signup-responsive"><a class="navbar-sign">Sign up</a></li>
                    <li class="navbar-button"><a class="navbar-connect">Connect</a></li>
                <% } %>

                <form action="" method="POST">
                    <li class="header-navbar-switch-container">
                        <input class="dark-theme-switch" type="checkbox" id="switch"/>
                        <label for="switch"></label>
                    </li>
                </form> 
            </ul>
        </div>
        
    </header>