<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/darkStyle.css">
    <title>Poll's</title>
</head>
<body>

  </body>
  
    <header>
        <h1><a href="/">Poll's</a></h1>
        <h2 style="color:red;"><% if(locals.errorMessage) { %>
            <p><%= errorMessage %></p>
            <% } %></h2>
        <nav>
            <ul class="big-screen">
                <li><a href="/">Accueil</a></li>
                <li><a href="/polls.html">Polls</a></li>
                <% if (locals.user && locals.user.role === "admin") { %>
                    <a class="admin" href="">Manage</a>
                  <% } %>
                <% if (locals.user) { %>
                    <a class="logout" href="/logout">Disconnect</a>
                <% } else { %>
                <li><a class="sign">Sign up</a></li>
                <li><a class="connect-button">Connect</a></li>
                <% } %>
                <form action="" method="PO">
                <li class="input"><input class="dayNight" type="checkbox" id="switch"/><label for="switch"></label></li>
                </form> 
            </ul>
        </nav>
        <div class="menu">
            <img class="menu-image" src="/images/menu.png" alt="">
            <div class="small-screen">
                <ul>
                    <span class="menu-close-button">x</span>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/polls.html">Polls</a></li>
                <% if (locals.user) { %>  
                    <li><a class="logout">Disconnect</a></li>
                    <% } else { %>
                    <li><a class="sign">Sign up</a></li>
                    <li><a class="connect-button">Connect</a></li>
                    <% } %>                      
                       
                    <li class="media-input"><input class="media-dayNight" type="checkbox" id="switch" /><label for="switch"></label></li>
                </ul>
            </div>
        </div>
    </header>