<section class="signup-container form-container">
    <span class="form-button-close signup-close">x</span>
    <h1 class="form-title">Inscription Form</h1>
        <form class="form-list-container" action="/signup" method="POST">              
            <ul class="form-list">
                <li><input type="pseudo" id="pseudo" name="pseudo" placeholder=" Username"></li>
                <li><input type="firstname" id="firstname" name="firstname" placeholder=" Firstname"></li>
                <li><input type="lastname" id="lastname" name="lastname" placeholder=" Lastname"></li>                    
                <li><input type="email" id="email" name="email" placeholder=" E-mail" ></li>
                <li><input type="password" id="password" name="password" placeholder=" Password"></li>
                <li><input type="password" id="confirmation" name="confirmation" placeholder=" Confirmation"></li>
            </ul>
            <ul class="signup-conditions-list">
                <li><input class="signup-conditions-checkbox" type="checkbox" required="required">I accept the conditions of the following articles: <a style="text-decoration: none; "href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016R0679&from=EN">   Official Journal </a>--<a style="text-decoration: none; "href="https://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:C:2010:083:0389:0403:EN:PDF"> EU Charter </a></li>
                <li> and i agree to poll's storage terms</li>
            </ul>
            <button class="signup-form-submit submit-button" type="submit">Validate</button>
        </form>
</section>