<%- include('./partials/header') %>
    <h1>Most Popular</h1> 
    <main>
      
    </main>

    <footer>
        <div>
            <p>Create a polls</p>
            <button>+</button>
        </div>
    </footer>
    <%- include('./partials/footer') %>   